<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fourhcistudents.activo" >

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/activo_logo"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme" >

        <!-- Load App Screen -->

        <activity
            android:name=".LoadAppActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Start activity -->

        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <!-- Settings activity -->

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>

        <!-- StartExercise activity -->

        <activity
            android:name=".StartExerciseActivity"
            android:label="@string/app_name"
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".SituationChooserActivity"
            android:label="@string/title_activity_situation_chooser"
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fourhcistudents.activo.HomeActivity" />
        </activity>
        <activity
            android:name=".BodyPartChooserActivity"
            android:label="@string/app_name"
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".TimerService"
            android:enabled="true"
            android:exported="false" >
        </service>
        <service
            android:name="com.fourhcistudents.pedometer.StepService"
            android:enabled="true"
            android:exported="false" >
        </service>
        <receiver android:name=".PhoneCallReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
